<div class="user_info">
    <h2>User info</h2>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= user.follower.count %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= user.followed.count %></th>
        </tr>
        
      </tbody>
    </table>
    <div class="row">
      <% if user == current_user %>
        <%= link_to edit_user_path(current_user.id) do %>
          <button type="button" class="col-xs-12 btn btn-default edit_user_25037">
            <i class="glyphicon glyphicon-wrench"></i>
          </button>
        <% end %>
      <% else %>
        <% unless current_user == user %>
          <% if current_user.following?(user) %>
            <%=  form_with model: relationship, url: unfollow_path(user.id) do |f| %>
              <%= hidden_field_tag :follow_id, user.id %>
              <%= f.submit 'フォロー外す', class: 'btn btn-primary' %>
            <% end %>
          <% else %>
            <%= form_with model: relationship, url: follow_path(user.id) do |f| %>
              <%= hidden_field_tag :follow_id, user.id %>
              <%= f.submit 'フォローする', class: 'btn btn-success' %>
            <% end %>
          <% end %>
          
        <% end %>
      <% end %>
    </div>    
</div>
<div class="new_book">
  <h2>New book</h2>
  <%= form_with model: book, local:true do |f| %>
    <div class="field row">
      <div >
        <label>Title</label></br>
        <%= f.text_field :title, class: "col-xs-12" %>
      </div>
    </div>
    <div class="field row">
      <div>
        <label>Opinion</label></br>
        <%= f.text_area :body, class: "col-xs-12" %>
      </div>
    </div>
    <div class="actions row">
      <%= f.submit "Create Book",class:"btn btn-primary col-xs-12" %>
    </div>
  <% end %>
</div>